<nav class="d-flex w-100 position-fixed top-0 left-0 z-2 align-items-center justify-content-between" [class.scrolled]="scrolled">
  <div class="nav-links d-flex align-items-center">
    <a routerLink="/home" class="active-link">
      <p>Inicio</p>
    </a>
    <a routerLink="/courses" class="active-link">
      <p>Cursos</p>
    </a>
    <a routerLink="/about" class="active-link">
      <p>Nosotros</p>
    </a>
    <a routerLink="/contact" class="active-link">
      <p>Contacto</p>
    </a>

  </div>

  <button class="btn-primary z-3 rounded-3" [routerLink]="['/login']">Acceder</button>

</nav>
