<nav class="w-100 position-fixed top-0 left-0 z-2" [class.scrolled]="scrolled">

    <div class="d-flex justify-between align-items-center justify-content-between mx-5">
      <ul class="nav-links d-flex m-0 p-0 gap-4 align-items-center">
        <li>
          <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
        </li>
        <li>
          <a routerLink="/courses" routerLinkActive="active-link">Cursos</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active-link">Nosotros</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active-link">Contacto</a>
        </li>
      </ul>

      <button class="btn-primary p-2 z-3" [routerLink]="['/signup']">Inscríbete</button>

    </div>
</nav>
