.nav-links{
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 500;
  transition: ease-in-out 0.3s;
  align-self: center;
}

.nav-links a:hover,
.nav-links .active-link {
  color: #ffd300;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}


.btn-primary {
  width: 180px;
}

nav{
  padding: 20px 100px;
  transition: ease-in-out 0.3s;
}

.scrolled {
  padding: 10px 100px;
  background: linear-gradient(135deg, #081836 0%, #113370 50%, #0458d9 100%);
  transition: ease-in-out 0.3s;
}
