.container-navbar{
  width: 100%;
  /* height: 12.5vh; */
  background: linear-gradient(-135deg, #081836 0%, #113370 50%, #0558D8 100%);
}

.aside-container-data{
  width: 55%; 
  margin: 40px 100px;
  padding: 20px 100px 20px 40px;
}

.img-container{
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.img-container p{
  padding-top: 20px;
  margin-right: 100px;
  font-size: 40px;
}

.img-container img{
  width: 100px;
  margin-left: 50px;
}

.no-clickable{
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}

.btn-paiment-type{
  background-color: #fbfbfb;
  border: #d2d2d2 solid 1px;
  font-size: 16px;
  filter: grayscale(100%); 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease-in-out , border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #555; 
}

.DebitoCredito{
  font-size: 16px;
}

.btn-paiment-type:hover, 
.btn-paiment-type.active-button-style {
  background-color: #0559d80f;
  border: #113271 solid 1px;
  filter: grayscale(0%);
  color: #113271; 
}

.btn-paiment-type p {
    color: inherit;
}

.payment-view {
    display: none;
}

.payment-view.active {
    display: block;
}

