h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #113370;
}

p {
  color: #cecece;
  margin-bottom: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

label {
  position: absolute;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-weight: 600;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

input {
  width: 100%;
  padding: 20px 0 5px;
  border: none;
  background-color: transparent !important;
  border-bottom: 2px solid #06ABE5;
  color: #e0e4ea;
  transition: all 0.2s ease-out;
  outline: none;
}

input:autofill, input:autofill:focus{
    background-color: transparent !important;
}

input:focus, input:valid {
  border-bottom: 2px solid #FFD300;
  color: #FFD300;
}

input:focus + label,
input:not(:placeholder-shown) + label,
input:valid + label {
  top: 0;
  transform: translateY(-10px);
  color: #FFD300;
}

input:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid #E63946;
  color: #E63946;
}

input:invalid:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-10px);
  color: #E63946;
}

.signup-button {
  padding: 15px;
  background: linear-gradient(90deg, #0458D9, #06ABE5);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  transition: all 3s ease-in-out;
}

.signup-button:hover {
  background: linear-gradient(90deg, #bb9c00, #FFD300);
  transition: all 0.3s ease-in-out;
}

.login-link {
  margin-top: 25px;
  font-size: 0.9rem;
}

.login-link a {
  color: #4169e1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #8a2be2;
  text-decoration: underline;
}
