.background {
  height: 100vh;
  background: linear-gradient(135deg, #081836 0%, #113370 50%, #0458d9 100%);
  backdrop-filter: blur(10px);
}

.card{
  width: 50%;
  background-color: #051940ba;
}

.card-body button svg{
  color: #fff;
}

.logo {
  width: 150px;
  height: auto;
  filter: drop-shadow(10px 10px 5px #051125);
  transition: ease-in-out 0.4s;
}

.logo:hover {
  filter: drop-shadow(0 0 35px #0349c3);
  transition: ease-in-out 0.4s;
  transform: scale(1.05);
}

h2 {
  font-size: 2.5rem;
  margin: 20px 0;
  text-shadow: 0 0 10px #113370;
}

p {
  color: #cecece;
  margin-bottom: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

label {
  position: absolute;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-weight: 600;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

input {
  width: 100%;
  padding: 20px 0 5px;
  border: none;
  background-color: transparent !important;
  border-bottom: 2px solid #06ABE5;
  color: #e0e4ea;
  transition: all 0.2s ease-out;
  outline: none;
}

input:autofill, input:autofill:focus{
    background-color: transparent !important;
}

input:focus, input:valid {
  border-bottom: 2px solid #FFD300;
  color: #FFD300;
}

input:focus + label,
input:not(:placeholder-shown) + label,
input:valid + label {
  top: 0;
  transform: translateY(-10px);
  color: #FFD300;
}

input:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid #E63946;
  color: #E63946;
}

input:invalid:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-10px);
  color: #E63946;
}

.login-button{
  padding: 15px 30px;
  font-size: 28px;
  transition: all 0.3s ease-in-out ;
}

.login-link {
  color: #dcdcdc;
  margin-top: 10px;
  font-size: 1rem;
}

.login-link a {
  color: #06AAE4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #FFD300;
  text-decoration: underline;
}
