.card-container {
    perspective: 1200px;
}

.card-tilt {
    width: 100%;
    height: 50%; 
    color: #fff;
    background-color: #113370;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    overflow: hidden; 
    transition: height 0.5s ease-in-out, transform 0.1s ease-out; 
}

.card-tilt:hover{
    height: 480px;
}

.card-tilt h3 {
    color: #FFD300;
    font-size: 30px;
}

.p-content {
    font-size: 19px;
    position: relative;
    margin: 0 auto;
}

.p-content::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(
        to bottom, 
        rgba(17, 51, 112, 0) 0%, 
        rgba(17, 51, 112, 1) 100% 
    );
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; 
}

.card-tilt:hover .p-content::after {
    opacity: 0;
}

.p-content-duration{
    font-size: 17px;
    color: #dbdbdb;
}

.p-content-date{
    font-size: 17px;
    color: #dbdbdb;
}

.p-content-message{
    font-size: 17px;
    color: #dbdbdb;
    margin: 27px 0;
}