* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
}

body{
    background-color: #f6f8fb;
}

h1, h2, h3, h4, h5{
  margin: 0;
  font-family: "Roboto", "Open Sans";
  font-weight: 800;
  color: #113271;
}

p{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.btn-primary {
  background: #0558D8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: #FFD300;
  color: #051024;

}
