.aside-container{
    min-height: 100vh;
}

.bg-black-blue{
    width: 45%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(4, 16, 37, 1) 58%, rgba(6, 24, 55, 1) 100%);   
}

.signup-link p {
    font-size: 18px;
}

.signup-link a {
    color:#103371;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #065AD9;
    text-decoration: underline;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group label {
  position: absolute;
  top: 15px;
  left: 0;
  color: #041025;
  font-weight: 600;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.form-group input {
  width: 100%;
  padding: 20px 0 5px;
  border: none;
  background-color: transparent !important;
  border-bottom: 2px solid #041025;
  color: #041025;
  transition: all 0.2s ease-out;
  outline: none;
}

.form-group input:autofill, input:autofill:focus{
    background-color: transparent !important;
}

.form-group input:focus, input:valid {
  border-bottom: 2px solid #065AD9;
  color: #065AD9;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group input:valid + label {
  top: 0;
  transform: translateY(-10px);
  color: #065AD9;
}

.form-group input:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid #E63946;
  color: #E63946;
}

.form-group input:invalid:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-10px);
  color: #E63946;
}

.signup-button{
    margin: 20px 0;
    padding: 15px 30px;
    font-size: 28px;
    transition: all 0.3s ease-in-out ;
}

